<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content padding>
  <ion-card margin-top class="flat-card">
    <ion-img margin-top src="/assets/logoHorizontal.png"></ion-img>
  </ion-card>
  <ion-card align-self-center class="flat-card">
    <h2 text-center class="welcome">Bienvenido</h2>
    <ion-card-content>
      <form></form>
    </ion-card-content>
  </ion-card>

  <!-- <ion-button (click)="login()" expand="block">Login</ion-button>
  <ion-button expand="block" color="secondary" href="/register" routerDirection="forward">Register</ion-button> -->
</ion-content>
