<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p>Home Works!</p>
<ion-button (click)="logout()" expand="block">Logout</ion-button>
</ion-content>
